# buzz when a charger is plugged in (vita-rumble works out which change that is)
SUBSYSTEM=="power_supply", ACTION=="change", RUN+="/usr/bin/vita-rumble --plugged"
