[Desktop Entry]
Type=Application
Name=Wireless on/off (Airplane mode)
Comment=Turn Wi-Fi and Bluetooth off, or back on
Exec=rgds-wireless
Icon=rgds-wireless
Categories=Settings;
